


.font-style {
    font-family: 'Raleway', sans-serif;
}

.font-thin {
    font-weight: 100;
}

.font-extra-light {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-mediukm {
    font-weight: 600;
    font-weight: 500;
}

a {
    outline: none;
}

/* helper */

.no-margin {
    margin:0 !important;
}

.text-center {
    text-align: center;
}

.container-fluid {

}

@media(max-width: 600px) {
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}


.splashscreen {
    display: block;
    width: 100%;
    height: 100%;
    background: #949494;
    text-align: center;
    padding-top: 20vh;
}

.component-toolbar {
    display: inline-block;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    background: #f2f2f2;
}

.ctbar-item {
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #636363;
    vertical-align: middle;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #e9e9e9;
}
.ctbar-item:first-child {
    border-left: 1px solid #dbdbdb
}
.ctbar-item:last-child {
    //border: none;
}
.ctbar-item.ctbar-back {
    //border-bottom: 1px solid #E4424A;
    //color: #000;
}
.ctbar-item.ctbar-back > span:first-child {
    color: #E4424A;
}
.ctbar-item.ctbar-item-main {
    background: #dcdcdc;
    color: #000;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #cdcdcd;
}

.ctbar-item > span {
    vertical-align: middle;
}
.ctbar-item span.glyphicon {
    line-height: 50px;
    top: 0;
    font-size: 1em;
}
.ctbar-item:hover {
    background-color: #efefef;
    text-decoration: none;
    color: #636363;
}


/********************       ContactBar      *********************/
.contact-name-small {
    height: 30px;
}

.contact-name-small span {
    line-height: 30px;
    margin-right: 5px;
    float: left;
}


.contact-name-small .contact-img { /* span:first-child */
    display: inline-block;
    float:left;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-image: url('/assets/background_zela.JPG');
    background-size: 100%;
}




@media(max-width: 600px) {
    .component-toolbar {
        height: auto;
        display: inline-block;
    }
    .ctbar-item {
        height: 50px;
        width: 100%;
        display: block;
        border-top: 1px solid #cecece;
    }
}

/*body {
    background-color: #375e7a;
}

.nav-pills > li > a{
    border-radius: 0;
}

.btn {
    border-radius: 0;
    border: 0;
}

.btn-default {
    background-color: #5f8b9e;
    color: #ffffff;
}
.btn-default:focus {
    background-color: #557c8d;
}

.btn-primary {
    background-color: #cbb25c;
    color: #ffffff;
}
.btn-primary:focus, .btn-primary:hover {
    background-color: #e0c566;
}
.btn-primary:hover:active,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:focus:active,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary.focus:active,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #ad984e;
}



.nav-pills > li > a {
    color: #f8f8f8;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    background-color: #5f8b9e;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .router-link-active {
    background-color: #6999ae;
}

.well {
    background-color: #f8f8f8;
}*/


/*  Loading animation  */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}


/*      Forms:      */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.scheme-card {
    display: block;
    min-height: 130px;
    /*height: 250px;*/
    background-color: #ffffff;
    font-weight: 300;
    padding: 0;
    border: 1px solid #e4e4e4;
    color: #555555;
    cursor: pointer;
}

.scheme-card:hover {
    background: #efefef;
}

.scheme-card-style.no-border {
    border: none;
}

.scheme-wrapper-full-width {

}



/*      DASHBOARD / CARD    */
.dashboard-card {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ebe8ea;
}
.dashboard-card > *,
.dashboard-card > a.button-acc,
.dashboard-card .card-content-wrapper > * {
    display: block;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;        
}

.dashboard-card.no-max-width > *,
.dashboard-card.no-max-width > a.button-acc,
.dashboard-card.no-max-width .card-content-wrapper > * {
    max-width: none;        
}

.dashboard-card .full-width,
.dashboard-card .card-content-wrapper,
.dashboard-card .card-content-wrapper .full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}

.dashboard-card hr.card-seperator {
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: 1px solid #c7c5c6;
    max-width: none;
}

.dashboard-card hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #ebe8ea;
    max-width: none;
}

.card-accent {
    display: block; 
    width: 50px;
    height: 3px;
    margin-top: 10px;
    background: #e15038;
    border-radius: 25px;
}

.item-card {
    background: #e0dedf;
    border-bottom: 1px solid #ebe8ea;
}

.item-card:hover {
    background: #d9d7d8;
}


/*      blogpost card       */

.blogpost-card {
    display: block;
    padding: 10px 0;
    cursor: pointer;
    color: #555555;
    cursor: pointer;
}

.blogpost-card > a {
    display: block;
    width: 88%;
    color: inherit;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.fixed-full-background {
    padding-top: 60px;
    background-color: #555555;
    background-image: url('/assets/zela_back.JPG');
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.custom-box-link {
    display: inline-block; 
    /*height: 100px; */
    background-color: #e0dedf; 
    cursor: pointer;
    padding: 5px 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #2e2f38;
    text-align: center;
}

.custom-box-link.cbl-nbg {
    background: none;
}

.custom-box-link .cbl-logo {
    vertical-align: middle; 
    display: inline-block; 
    width: 100px; 
    height: 90px; 
    margin-right: 0px; 
    background-position: center center; 
    background-size: contain; 
    background-repeat: no-repeat; 
}

.custom-box-link .cbl-text {
    display: inline-block; 
    vertical-align: middle; 
    margin-top: 15px; 
    margin-right: 15px;
    margin-left: 15px;
}

.custom-box-link .cbl-text > h3,
.custom-box-link .cbl-text > h4 {
    margin-top: 0;
}

.custom-box-link:hover {
    background: #c3c3c3;
    color: #2e2f38;
}

.custom-box-link.cbl-hover-image:hover {
    color: #ebe8ea;
    background-size: cover;
    background-position: center center;
}

.custom-box-link.disabled {
    cursor: not-allowed;
}

.user-content {
    padding-top: 20px;
    padding-bottom: 50px;
}

.only-print {
    display: none;
}


@media print {
    header {
        display: none;
    }

    .only-print {
        display: unset;
    }
}




/* ******************** button ***************************/
.btn {
    background: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px;
}

/* ******************** Notifications ********************/

