<a id="scheme-card-content{{scheme.id}}" class="scheme-card-content card-grid" [class.no-border]="!border" [routerLink]="['/schemes', scheme.id]" routerLinkActive="active">
    <!-- <div class=""> -->
        <p class="card-category" [ngClass]="'category-' + scheme.category" >{{scheme.categoryName | uppercase }}</p>


            <h3 class="card-title">{{scheme.title}}</h3>

            <p class="card-description">{{scheme.description}}</p>

        <!-- <div class="scheme-card-content-info scci-asymetric "> -->
            <span class="card-age"><span class="scheme-card-content-age glyphicon glyphicon-user"></span><span class="text-secondary">Alter:</span> {{scheme.ageStart}} - {{scheme.ageEnd}}</span>
            <!--custom-icon ci-age -->
            <span class="card-place"><span class="scheme-card-content-location glyphicon glyphicon-home"></span><span class="text-secondary">Ort:</span> {{scheme.placeName}}</span>
            <!--custom-icon ci-forrest -->
            <!--span><span class="scheme-card-content-preparation glyphicon glyphicon-time"></span> 2 Stunden</span> <!--custom-icon ci-preparation-->
        <!-- </div> -->
        <!-- <footer style="grid-area: footer; align-self: end"> -->
        <span class="card-author contact-name-small">
            <!-- <span class="contact-img"></span> -->
            <span class="">{{scheme.authorName}}</span>
        </span>
        <span class="card-date">{{scheme.created |  date:"dd.MM.yyyy" }}</span>
        <!-- </footer> -->
    <!-- </div> -->
</a>