<main class="full-background"> 
  <!-- width: 100%; -->
  <div class="block dashboard-card login-grid" > 
     <!-- margin: auto;width: 90%; padding: 5%; max-width: 500px; -->
    <h1 id="login-header">
      Login
    </h1>
    <form [formGroup]="loginForm" class="form-group" (ngSubmit)="signIn()">
       <!-- width: 100% -->
      <label for="username" class="text-secondary" [ngClass]="{'invalid-label' : !this.loginForm.get('username').valid}" >E-Mail Adresse</label>
      <input id="username" name="username" type="email" class="form-control" placeholder="name@beispiel.de" required formControlName="username" />  <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  -->

      <label for="password" class="text-secondary" [ngClass]="{'invalid-label' : !this.loginForm.get('password').valid}">Passwort</label>
      <input id="password" name="password" type="password" class="form-control" placeholder="Passwort" required formControlName="password"  />
      <!--  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
      <!-- <a>Passwort vergessen?</a><br> -->
      <button type="submit" id="login-button" class="btn-accent" >Login</button> <!-- !loginForm.form.valid [disabled]="loginForm.status != 'VALID' --> 
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div *ngIf="!loading" class="spinner">
      <span></span> 
      <span class="text-secondary"> Wird geladen...</span>
    </div>
  </div>
  <br><br>
  <div *ngIf="infoMessage"  class="block dashboard-card container">
    <p>{{infoMessage}}</p>
  </div>
</main>