<div class="block block-dark page-info animation-enter-children" style="background-image: url('/assets/rf_dark2.jpg'); background-size: cover; background-position: center">
  <p>
    <span>Finde hier alle Programme, die es auf dieser Seite gibt!</span>
  </p>
  <br>
  <div class="button-box">
    <br>
    <!-- <a role="button" class="btn-accent" [routerLink]="['/schemes/start']" routerLinkActive="active">Programme entdecken</a> -->
    <a role="button" class="btn-accent" [routerLink]="['/schemes/create']" routerLinkActive="active">
      <span class="glyphicon glyphicon-file"></span> Neues Programm erstellen</a>
  </div>
</div>

<div class="filterbar container-fluid animation-enter">
  <!-- [style.visibility]="loading ? 'hidden' : 'visible'" -->
  <!-- <div> Sortieren nach:
    <select [(ngModel)]="selectedSortingString" (ngModelChange)="onParameterChange()">
      <option [value]="'date_asc'">Datum aufsteigend [alt -> neu]</option>
      <option [value]="'date_desc'">Datum absteigend [neu -> alt]</option>
      <option [value]="'alpha_desc'">Alphabetisch absteigend [Z -> A]</option>
      <option [value]="'alpha_asc'">Alphabetisch aufsteigend [A -> Z]</option>
    </select>
  </div> -->
  <div> Kategorie:
    <select [(ngModel)]="scheme_category" (ngModelChange)="onParameterChange()">
      <option [ngValue]="0">Alle</option>
      <option *ngFor="let category of scheme_categories" [ngValue]="category.id">{{category.name}}</option>
    </select>
  </div>
  <div> Ort:
    <select [(ngModel)]="scheme_place" (ngModelChange)="onParameterChange()">
      <option [ngValue]="0">Alle</option>
      <option *ngFor="let place of scheme_places" [ngValue]="place.id">{{place.name}}</option>
    </select>
  </div>
  <div> Alter:
    <span>VON</span>
    <select [(ngModel)]="age_start" (ngModelChange)="onParameterChange()">
      <option *ngFor="let number of scheme_ages" [ngValue]="number">{{number}}</option>
    </select>
    <span>BIS</span>
    <select [(ngModel)]="age_end" (ngModelChange)="onParameterChange()">
      <option *ngFor="let number of scheme_ages" [ngValue]="number">{{number}}</option>
    </select>
  </div>
  <div>
    <label for="favorite-schemes-checkbox">
      <input id="favorite-schemes-checkbox" type="checkbox" [(ngModel)]="onlyFavorites" (ngModelChange)="onParameterChange()"/> Nur meine Favoriten
    </label>
  </div>
  <div>
    <label for="own-schemes-checkbox">
      <input id="own-schemes-checkbox" type="checkbox" [(ngModel)]="onlyOwn" (ngModelChange)="onParameterChange()"/> Nur eigene Programme
    </label>
  </div>
  <div>
    <span *ngIf="totalRows == 1">{{totalRows}} Ergebnis</span>
    <span *ngIf="totalRows != 1">{{totalRows}} Ergebnisse</span>
  </div>
</div>

<div *ngIf="!loading && schemes.length == 0" style="width: 100%; padding-top: 200px; text-align: center;">
  <span *ngIf="!totalRows">Keine Ergebnisse gefunden.</span>
</div>

<div class="scheme-wrapper-full-width container-fluid row row--small-gap row--center-items">
  <!-- [@slideTileAnimation]="getSchemeAnimateState()" -->
  <app-scheme-card class="scheme-card col-xs-12 col-sm-6 col-md-3" *ngFor="let scheme of schemes" [scheme]="scheme"></app-scheme-card>
</div>

<ul *ngIf="typePagination" class="pagination">
  <li>
    <a href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li *ngFor="let page of countPages; let i = index">
    <a [routerLink]="['/schemes', {page: (i+1) }]" routerLinkActive="active">{{i+1}}</a>
  </li>
  <li>
    <a href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>

<div *ngIf="!typePagination" class="" style="width: 100%; text-align: center; padding-top: 10px; padding-bottom: 50px">
  <button *ngIf="!loading && schemes.length < totalRows" class="" (click)="appendSchemes()">Mehr laden</button>
  <div *ngIf="loading" class="spinner">
    <span></span>
    <span class="text-secondary">Wird geladen...</span>
  </div>
</div>