<div class="block block-dark page-info" style="background-image: url('/images/zela_back.jpg'); background-size: cover; background-position: center">
    <p>
        Gib hier nun alle Informationen über dein Programm ein. Sobald du dein Programm gespeichert hast, wird es noch geprüft und
        danach ist unsere Sammlung wieder etwas größer geworden.
        <br>
        <span>Vielen Dank für deine Mithilfe!</span>
    </p>
    <br>
    <div class="button-box">
        <a role="button" (click)="submit()" class="btn-accent ">
            <!-- <span class="glyphicon glyphicon-floppy-disk"></span>  -->
            Speichern
        </a>
    </div>
</div>

<main>
    <form [formGroup]="schemeForm" novalidate>
        <section class="create-grid">
            <div>
                <span class="create-step text-accent">1.</span>
                <span class="create-title text-secondary">Titel</span>
                <input name="title" class="input-headline" type="text" formControlName="title" />
                <!-- <input [(ngModel)]="scheme.title" class="input-headline " type="text" value="Programmname" /> -->
                <span class="create-description text-secondary">Gib hier einen passenden Titel für Dein Programm ein, damit es gut zu finden ist.</span>
            </div>

            <div>
                <span class="create-step text-accent">2.</span>
                <span class="create-title text-secondary">Kategorie</span>
                <!-- <select [(ngModel)]="scheme.category" class="">
        <option *ngFor="let category of scheme_categories" [ngValue]="category.id">{{category.name}}</option>
      </select> -->
                <select class="form-control" formControlName="category">
                    <option *ngFor="let category of scheme_categories" [value]="category.id">{{category.name}}</option>
                </select>
                <span class="create-description text-secondary">Ordne Dein Programm einer Kategorie zu, um sie an einem Ort zu sammeln.</span>
            </div>

            <div>
                <span class="create-step text-accent">3.</span>
                <span class="create-title text-secondary">kurze Beschreibung</span>
                <!-- <textarea [(ngModel)]="scheme.description" rows="2" class="">Gib hier eine kurze beschreibung ein, um direkt zu sehen, worum es in deinem Programm geht.</textarea> -->
                <textarea formControlName="description" rows="2">Gib hier eine kurze beschreibung ein, um direkt zu sehen, worum es in deinem Programm geht.</textarea>
                <span class="create-description text-secondary">Ordne Dein Programm einer Kategorie zu, um sie an einem Ort zu sammeln.</span>
            </div>

            <div>
                <span class="create-step text-accent">4.</span>
                <span class="create-title text-secondary">Inhalt</span>
                <span class="">EDITOR</span>
                <span class="create-description text-secondary"></span>
            </div>

            <div>
                <span class="create-step text-accent">5.</span>
                <span class="create-title text-secondary">Alter</span>
                <span>
                    <span>VON</span>
                    <!-- <select [(ngModel)]="scheme.age_start" class="">
                        <option *ngFor="let number of scheme_ages" [ngValue]="number">{{number}}</option>
                    </select> -->
                    <select class="form-control" formControlName="age_start">
                        <option *ngFor="let age of scheme_ages" [value]="age">{{age}}</option>
                    </select>
                    <span>BIS</span>
                    <select class="form-control" formControlName="age_end">
                        <option *ngFor="let age of scheme_ages" [value]="age">{{age}}</option>
                    </select>
                    <!-- <select [(ngModel)]="scheme.age_end">
                        <option *ngFor="let number of scheme_ages" [ngValue]="number">{{number}}</option>
                    </select> -->
                </span>
                <span class="create-description text-secondary">Für welches Alter ist Dein Programm gedacht?</span>
            </div>

            <div>
                <span class="create-step text-accent">6.</span>
                <span class="create-title text-secondary">Ort</span>
                <div class="places-flex">
                    <div>
                        <p>Ort auswählen:
                            <br>
                            <span class="text-secondary">(erforderlich)</span>
                        </p>
                        <!-- <select [(ngModel)]="scheme.place" class="">
                            <option *ngFor="let place of scheme_places" [ngValue]="place.id">{{place.name}}</option>
                        </select> -->
                        <select class="form-control" formControlName="place">
                            <option *ngFor="let place of scheme_places" [value]="place.id">{{place.name}}</option>
                        </select>
                    </div>
                    <!-- <div *ngIf="schemeForm.value.place !== 0">
                        <p>Alternative auswählen:
                            <br>
                            <span class="text-secondary">(falls vorhanden)</span>
                        </p>
                        <select class="form-control" formControlName="place2">
                            <option *ngFor="let place of scheme_places" [value]="place.id">{{place.name}}</option>
                        </select>
                    </div>
                    <div *ngIf="schemeForm.value.place2 != 0">
                        <p>2. Alternative auswählen:
                            <br>
                            <span class="text-secondary">(falls vorhanden)</span>
                        </p>
                        <select class="form-control" formControlName="place3">
                            <option *ngFor="let place of scheme_places" [value]="place.id">{{place.name}}</option>
                        </select>
                    </div> -->
                </div>

                <span class="create-description text-secondary">Wo sollte man das Programm durchführen? Es können bis zu zwei Alternativen ausgewählt werden.</span>
            </div>

            <h3 class="text-accent">Fertig!</h3>
            <p>Jetzt nur noch speichern und bald wird dein Programm bei den anderen erscheinen. </p>
            <button class="btn-accent" [class.disabled]="!schemeForm.valid" (click)="submit()">Speichern</button><span *ngIf="!schemeForm.valid"  class="text-secondary">Nicht alle Angaben wurden korrekt angegeben.</span>

            <br>
            <br>
            <br>
            <br>
            <br>
            <p>Form value: {{ schemeForm.value | json }}</p>
            <p>Form value: {{ schemeForm.status | json }}</p>
            <p>{{scheme.content}}</p>
        </section>
    </form>

</main>